@page
@model AboutModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Websoft About</h1>
    <p>In this exercise, we are supposed to learn how to create web-applications in the .NET core environment and ASP.NET Core with C# programming and the MVC architecture.</p>
</div>

